/*******************************general*************************/
* {
  margin: 0px;
  padding: 0px;
}

boby {
  margin: 0px;
  padding: 0px;
}

.blue {
  color: #4444da;
}

.gold {
  color: rgb(225, 193, 17);
}

@font-face {
  font-family: mr_darcy;
  src: url("../font/mr-darcy/Mr Darcy W01 Regular.ttf");
}
h1 {
  font-family: mr_darcy;
}

/*************************wrapper***********************/
.wrapper {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/backgroung/0ee9315d-bc2a-351b-113f-bb88-f66439f5/pexels-skitterphoto-705171.jpg") center;
  background-size: cover;
  /*background-size: cover;*/
}

.game_box {
  margin: auto;
  height: 500px;
  width: 600px;
  margin-bottom: 30px;
}

.game_box_top {
  height: 100px;
  width: 550px;
  margin: auto;
  padding-left: 25px;
}

.blooming_game {
  font-family: sans-serif;
  font-style: italic;
  height: 200px;
  width: 400px;
  margin: auto;
  padding-left: 80px;
  padding-top: 25px;
  border-radius: 100%;
  border: solid #6b6bf5;
}

.game_box_bottom {
  position: relative;
  border-radius: 15px;
  border: solid #6b6bf5;
  height: 400px;
  width: 630px;
  justify-content: center;
  display: flex;
  background-color: whitesmoke;
}

.img_b_g {
  float: left;
  background: url("../images/backgroung/back4.jpeg") center;
  background-size: cover;
  width: 750px;
  border-radius: 13px 0px 0px 13px;
}

.description_b_g {
  float: right;
  margin-top: 30px;
  padding-left: 10px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item_b_g {
  margin: auto;
  margin-top: 90px;
  padding-top: 20px;
  padding: auto;
  display: flex;
  justify-content: center;
}

.item {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

.opportunity {
  background: url("../images/item_card_bg/job-opportunities.png") center;
  background-size: cover;
}

.deal {
  background: url("../images/item_card_bg/deal.png") center;
  background-size: cover;
}

.paycheck {
  background: url("../images/item_card_bg/salary(1).png") center;
  background-size: cover;
}

.market {
  background: url("../images/item_card_bg/stock-market(1).png") center;
  background-size: cover;
}

/********************button****************************/
.button_start_game {
  justify-content: center;
  margin: auto;
  padding-left: 2px;
  font-family: "Times New Roman", Times, serif;
  /*margin-left: 45vw;*/
  height: 35px;
  width: 150px;
  background-image: linear-gradient(to right,#3c3cd8, rgba(218, 197, 77, 0.939));
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.start-hehe{
  justify-content: center;
  margin: auto;
  padding-left: 2px;
  font-family: "Times New Roman", Times, serif;
  /*margin-left: 45vw;*/
  height: 35px;
  width: 150px;
  background-image: linear-gradient(to right,#3c3cd8, rgba(218, 197, 77, 0.939));
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.button_start_game:hover{
  background-image: linear-gradient(to right, #3c3cd8, #6666f1);
  color: gold;
	box-shadow: 5px 5px 5px 5px rgba(26, 52, 77, 0.672);
}

/*************************New_party***********************/
.game_box_bottom {
  position: relative;
  border-radius: 15px;
  border: solid #6b6bf5;
  height: 400px;
  width: 630px;
  justify-content: center;
  display: flex;
  background-color: whitesmoke;
}

.ff{
  margin-left: 15vh;
}

.game_box_bottom_new_party {
  position: relative;
  padding-left: 20px;
  border-radius: 15px;
  border: solid #6b6bf5;
  width: 630px;
  justify-content: center;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.game_box_bottom_new_party .intro {
  justify-content: center;
  align-items: center;
}
.game_box_bottom_new_party .intro p h3 {
  font-family: "Times New Roman", Times, serif;
}
.button_new_party {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.button_new_party ul {
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
}
.button_new_party nav ul {
  height: 35px;
  width: 130px;
  text-align: center;
  padding: auto;
  padding-top: 15px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  background-image: linear-gradient(to right, #3c3cd8, #6666f1);
}
.button_new_party nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: gold;
  text-decoration: none;
}
.set_party {
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.text_part {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
}



/**********************players*************************/
.players {
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
}
.players .name_player {
  margin-top: 10px;
  margin-right: 40px;
}
.players .color_player {
  margin-top: 10px;
}

.logo_player {
  height: 30px;
  width: 30px;
  background: url("../images/user/avatar.png") center;
  background-size: cover;
  align-items: center;
  margin-right: 10px;
  border-radius: 40px;
}



/*
.hexagone{
    height: 50px;
    width: 50px;
    margin: auto;
    color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    background-image: linear-gradient(to right,rgb(60, 60, 216),rgb(102, 102, 241));

}
*/
/*******************************************/
/*************************************************/
/********************************************************BLOOMING_SPACE*********************************************************/
#fast_track {
  background-color: yellow;
}

.ft_top {
  height: 90px;
  width: 120px;
  padding: 5px;
}

#blooming_space {
  display: flex;
  justify-content: center;
}

/*.rr_left, .rr_right, .rr_top ,.rr_bottom{
    background-color: darkmagenta;
}*/
.arrondit_1 {
  border-radius: 15px 0 0 0;
}

.arrondit_2 {
  border-radius: 0 0 0 15px;
}

.arrondit_3 {
  border-radius: 0 15px 0 0;
}

.arrondit_4 {
  border-radius: 0 0 15px 0;
}

.ft_top_space, .ft_bottom, .ft_left, .ft_right {
  background-color: darkorange;
}

.blooming_name {
  justify-content: center;
  align-items: center;
  background-color: darkseagreen;
  text-align: center;
}

#wrapper_blooming_space {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

#info_player {
  margin-right: 30px;
  display: flex;
  background-color: darkslateblue;
}

.img_box {
  height: 60px;
  width: 60px;
  background-color: yellowgreen;
}

.description_box {
  height: 20px;
  background-color: blue;
}

.blue_card {
  background-color: #4545eb;
}

.gold_card {
  background-color: rgba(241, 212, 43, 0.966);
}

.green_card {
  background-color: rgba(159, 255, 64, 0.966);
}

.orange_card {
  background-color: #ff9900;
}

.pink_card {
  background-color: #00ccff;
}

/*******************************************************************************/
.rr_1 {
  padding: 5px;
  background: url("../images/item_card_bg/knowledge.png") center;
  background-size: cover;
}

/******************************************************************************/

/*# sourceMappingURL=styles_2.css.map */
